<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="test/bootstrap.php" colors="true">

    <testsuites>
        <testsuite name="General Test Suite">
            <directory>./test/tests</directory>
            <exclude>./tests/tests/WashTestCase.php</exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./test/tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>